pre.practice-chunk, pre.sourceCode.practice-chunk, pre div {
    background-color: #FFF8DC !important;  /* Amarelo pastel */
    border-left: 5px solid #FFA500 !important; /* Laranja */
    padding: 10px !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
}